{# templates/pages/shared/home.html #}

{% extends "pages/shared/base.html" %}

{% from "components/ui/alert.html" import alert %}
{% from "components/ui/post.html" import render_post with context %}

{% block title %}Kalts Daniil - Personal Blog{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div
  x-data="{ count: {{ messages|length }} }"
  x-show="count > 0"
  class="mb-6 mx-auto w-full {{ 'max-w-lg' if posts and posts|length > 0 else '' }}"
>
  {% for category, message in messages %}
    {{ alert(category, message) }}
  {% endfor %}
</div>
{% endif %}
{% endwith %}
{% if posts and posts|length > 0 %}
<div class="container max-w-lg mx-auto">
  <div class="grid grid-cols-1 gap-8">
    {% for post in posts %}
      {{ render_post(post) }}
    {% endfor %}
  </div>
</div>
{% else %}
<div class="flex flex-grow items-center justify-center py-16">
  <h4
    class="text-center text-base font-medium text-gray-800 dark:text-gray-300"
  >
    I haven't written anything yet..<br />
    But don't worry, the keyboard is warming up! 🤓
  </h4>
</div>
{% endif %}
{% endblock %}
