{# templates/auth/admin/pages/login.html #}

{% extends "auth/base.html" %}
{% from "components/ui/alert.html" import alert %}
{% from "components/ui/input.html" import email_input, password_input %}

{% block title %}Kalts Daniil - Admin Login{% endblock %}

{% block content %}
<div
  class="w-full rounded-lg bg-white shadow dark:border dark:border-gray-700 dark:bg-gray-800"
>
  <div class="space-y-6 p-6 sm:p-8">
    <h1
      class="text-xl font-bold leading-tight tracking-tight text-gray-900 dark:text-white"
    >
      Sign in to admin account
    </h1>
    <form class="space-y-4" method="POST">
      {{ email_input("Admin email", "admin@gmail.com") }}
      {{ password_input("Password", "password", "No one knows it..") }}
      <button
        type="submit"
        class="bg-blue-500 hover:bg-blue-600 focus:ring-blue-400 mt-2 w-full rounded-lg px-5 py-2.5 text-center text-sm font-medium text-white focus:outline-none focus:ring-2"
      >
        Sign in
      </button>
    </form>
  </div>
</div>
{% endblock %}
