{# templates/pages/shared/posts/saved.html #}

{% extends "pages/shared/base.html" %}

{% from "components/ui/alert.html" import alert %}
{% from "components/ui/post/post.html" import render_post with context %}

{% block title %}{{ current_user.username }} - Saved Posts{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div
  x-data="{ count: {{ messages|length }} }"
  x-show="count > 0"
  class="mb-6 mx-auto w-full {{ 'max-w-lg' if posts and posts|length > 0 else '' }}"
>
  {% for category, message in messages %}
  {{ alert(category, message) }}
  {% endfor %}
</div>
{% endif %}
{% endwith %}
{% if saved_posts and saved_posts|length > 0 %}
<div>
  <div class="grid gap-[3px] grid-cols-2 [@media(min-width:475px)]:grid-cols-3 [@media(min-width:625px)]:grid-cols-4">
    {% for post in saved_posts %}
    <a
      href="{{ url_for('posts.view_post', post_id=post.id) }}"
      class="relative aspect-[5/5] block transition duration-150 hover:opacity-90 active:brightness-90"
    >
      <img
        class="w-full h-full object-cover rounded-sm"
        src="{{ post.images[0].image_url }}"
      />
      {% if post.images|length > 1 %}
      <div class="absolute top-1 right-1 bg-black/60 rounded-full p-1">
        <svg aria-label="Carousel" class="w-4 h-4 text-white" fill="currentColor" viewBox="0 0 48 48">
          <title>Carousel</title>
          <path d="M34.8 29.7V11c0-2.9-2.3-5.2-5.2-5.2H11c-2.9 0-5.2 2.3-5.2 5.2v18.7c0 2.9 2.3 5.2 5.2 5.2h18.7c2.8-.1 5.1-2.4 5.1-5.2zM39.2 15v16.1c0 4.5-3.7 8.2-8.2 8.2H14.9c-.6 0-.9.7-.5 1.1 1 1.1 2.4 1.8 4.1 1.8h13.4c5.7 0 10.3-4.6 10.3-10.3V18.5c0-1.6-.7-3.1-1.8-4.1-.5-.4-1.2 0-1.2.6z" />
        </svg>
      </div>
      {% endif %}
    </a>
    {% endfor %}
  </div>
</div>
{% else %}
<div class="flex flex-grow items-center justify-center py-16">
  <h4
    class="text-center text-base font-medium text-gray-800 dark:text-gray-300"
  >
    You don't have any saved posts..<br />
  </h4>
</div>
{% endif %}
{% endblock %}
