{# templates/pages/auth/user/reset_password.html #}

{% extends "pages/auth/base.html" %}

{% from "components/ui/field.html" import render_password_field %}

{% block title %}Kalts Daniil - Reset Password{% endblock %}

{% block content %}
<div
  class="w-full bg-white rounded-lg shadow dark:bg-gray-800 dark:border dark:border-gray-700"
>
  <div class="p-6 space-y-6 sm:p-8">
    <h1
      class="text-xl font-bold tracking-tight leading-tight text-gray-900 dark:text-white"
    >
      Change user password
    </h1>
    <form
      x-data="{ submitting: false, submit_text: '{{ form.submit.label.text }}' }"
      x-on:submit="submitting = true"
      class="space-y-4"
      method="POST"
    >
      {{ form.hidden_tag() }}
      {{ render_password_field(form.password) }}
      {{ render_password_field(form.confirm_password) }}
      <input
        type="submit"
        :value="submitting ? 'Resetting...' : submit_text"
        :disabled="submitting"
        class="py-2.5 px-5 mt-2 w-full text-sm font-medium text-center text-white bg-blue-500 rounded-lg hover:bg-blue-600 focus:ring-2 focus:ring-blue-400 focus:outline-none"
        :class="submitting ? 'bg-blue-600 opacity-50 cursor-not-allowed' : ''"
      >
    </form>
    <p class="text-sm text-gray-600 dark:text-gray-400">
      Remember your password?
      <a
        class="font-medium text-blue-500 hover:underline"
        href="/auth/login/"
      >
        Login here
      </a>
    </p>
  </div>
</div>
{% endblock %}
