{# templates/auth/user/pages/forgot_password.html #}

{% extends "auth/base.html" %}
{% from "components/ui/field.html" import render_email_field %}

{% block title %}Kalts Daniil - Forgot Password{% endblock %}

{% block content %}
<div
  class="w-full rounded-lg bg-white shadow dark:border dark:border-gray-700 dark:bg-gray-800"
>
  <div class="space-y-6 p-6 sm:p-8">
    <div>
      <h1
        class="text-xl font-bold leading-tight tracking-tight text-gray-900 dark:text-white"
      >
        Forgot your password?
      </h1>
      <p class="mt-1 text-xs text-gray-600 dark:text-gray-400">
        We'll send a verification code to your email to reset your
        password.
      </p>
    </div>
    <form
      x-data="{ submitting: false, submit_text: '{{ form.submit.label.text }}' }"
      x-on:submit="submitting = true"
      class="space-y-4"
      method="POST"
    >
      {{ form.hidden_tag() }}
      {{ render_email_field(form.email) }}
      <input
        type="submit"
        :value="submitting ? 'Checking...' : submit_text"
        :disabled="submitting"
        class="bg-blue-500 hover:bg-blue-600 focus:ring-blue-400 w-full rounded-lg px-5 py-2.5 text-center text-sm font-medium text-white focus:outline-none focus:ring-2"
        :class="submitting ? 'bg-blue-300 opacity-50 cursor-not-allowed' : ''"
      >
    </form>
    <p class="text-sm text-gray-600 dark:text-gray-400">
      Remember your password?
      <a
        class="font-medium text-blue-500 hover:underline"
        href="/auth/login/"
      >
        Login here
      </a>
    </p>
  </div>
</div>
{% endblock %}
