<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/colors.css') }}"
    />
    <script src="{{ url_for('static', filename='js/tailwind-browser.js') }}"></script>
    <title>Kalts Daniil - Forgot Password</title>
  </head>
  <body>
    <main
      class="flex min-h-screen items-center justify-center bg-gray-50 dark:bg-gray-900"
    >
      <div
        class="mx-auto flex w-full flex-col items-center justify-center space-y-5 px-6 py-8 sm:max-w-md"
      >
        {% with messages = get_flashed_messages() %} {% if messages %}
        <div class="m-0 w-full">
          {% for message in messages %}
          <div
            id="alert-{{ loop.index }}"
            class="mb-4 flex items-center rounded-lg bg-red-50 p-4 text-red-800 dark:bg-gray-800 dark:text-red-400"
            role="alert"
          >
            <svg
              class="h-4 w-4 shrink-0"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 1 1 1 1v4h1a1 1 0 0 1 0 2Z"
              />
            </svg>
            <span class="sr-only">Info</span>
            <div class="ms-3 text-sm font-medium">{{ message }}</div>
            <button
              type="button"
              class="-mx-1.5 -my-1.5 ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg bg-red-50 p-1.5 text-red-500 hover:bg-red-100 focus:ring-2 focus:ring-red-400 dark:bg-gray-800 dark:text-red-400 dark:hover:bg-gray-700"
              data-dismiss-target="#alert-{{ loop.index }}"
              aria-label="Close"
              onclick="this.parentElement.style.display='none';"
            >
              <span class="sr-only">Close</span>
              <svg
                class="h-3 w-3"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 14"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                />
              </svg>
            </button>
          </div>
          {% endfor %}
        </div>
        {% endif %} {% endwith %}
        <div
          class="w-full rounded-lg bg-white shadow dark:border dark:border-gray-700 dark:bg-gray-800"
        >
          <div class="space-y-6 p-6 sm:p-8">
            <div>
              <h1
                class="text-xl font-bold leading-tight tracking-tight text-gray-900 dark:text-white"
              >
                Forgot your password?
              </h1>
              <p class="mt-1 text-xs text-gray-600 dark:text-gray-400">
                We'll send a verification code to your email to change your
                password.
              </p>
            </div>
            <form class="space-y-4" method="POST" x-data="{ email: '', clicked: false }">
              <div>
                <label
                  for="email"
                  class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                  >Your Registered Email</label
                >
                <input
                  type="email"
                  name="email"
                  id="email"
                  class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 outline-none focus:border-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
                  placeholder="user@gmail.com"
                  required
                  x-model="email"
                />
              </div>
              <button
                type="submit"
                class="bg-primary hover:bg-primary-700 focus:ring-primary-600 dark:bg-primary dark:hover:bg-primary-700 dark:focus:ring-primary-800 w-full rounded-lg px-5 py-2.5 text-center text-sm font-medium text-white focus:outline-none focus:ring-4"
                :class="{ 'opacity-50 pointer-events-none': clicked }"
                x-on:click="if(email.length > 0) clicked = true"
                x-text="clicked ? 'Generating code...' : 'Reset password'"
              ></button>
            </form>
            <p class="text-sm text-gray-600 dark:text-gray-400">
              Remember your password?
              <a
                class="font-medium text-blue-500 hover:underline"
                href="/auth/login/"
              >
                Login here
              </a>
            </p>
          </div>
        </div>
      </div>
    </main>
    <script src="{{ url_for('static', filename='js/alpine.min.js') }}"></script>
  </body>
</html>
