{# templates/auth/user/pages/login.html #}

{% extends "auth/base.html" %}
{% from "components/ui/field.html" import render_email_field, render_password_field %}

{% block title %}Kalts Daniil - User Login{% endblock %}

{% block content %}
<div
  class="w-full rounded-lg bg-white shadow dark:border dark:border-gray-700 dark:bg-gray-800"
>
  <div class="space-y-6 p-6 sm:p-8">
    <h1
      class="text-xl font-bold leading-tight tracking-tight text-gray-900 dark:text-white"
    >
      Sign in to user account
    </h1>
    <form
      x-data="{ submitting: false, submit_text: '{{ form.submit.label.text }}' }"
      x-on:submit="submitting = true"
      class="space-y-4 mb-5"
      method="POST"
    >
      {{ form.hidden_tag() }}
      {{ render_email_field(form.email) }}
      {{ render_password_field(form.password) }}
      <a
        class="text-blue-600 dark:text-blue-500 float-right mb-2 -mt-2 text-sm hover:underline"
        href="/auth/forgot-password"
        >Forgot password?</a
      >
      <input
        type="submit"
        :value="submitting ? 'Signing in...' : submit_text"
        :disabled="submitting"
        class="bg-blue-500 hover:bg-blue-600 focus:ring-blue-400 mt-4 w-full rounded-lg px-5 py-2.5 text-center text-sm font-medium text-white focus:outline-none focus:ring-2"
        :class="submitting ? 'bg-blue-300 opacity-50 cursor-not-allowed' : ''"
      >
    </form>
    <div class="inline-flex w-full items-center justify-center">
      <hr
        class="mt-4 h-[2px] w-full mb-3 rounded border-0 bg-gray-300 dark:bg-gray-700"
      />
      <div
        class="absolute left-1/2 -translate-x-1/2 bg-white px-4 dark:bg-gray-800"
      >
        <span class="text-black-pre text-base dark:text-gray-100"> or </span>
      </div>
    </div>
    <div class="flex flex-col gap-6">
      <a
        class="focus:ring-blue-600 flex w-full items-center justify-center gap-2 rounded-md bg-transparent px-5 py-2.5 text-sm text-gray-900 ring-2 ring-blue-400 dark:text-white"
        href="/auth/google/login/"
      >
        <img
          src="{{ url_for('static', filename='images/icons/google.svg') }}"
          alt="Google"
        />
        Sign in with Google
      </a>
    </div>
  </div>
</div>
<p class="text-sm font-light text-gray-500 dark:text-gray-400">
  Don't have an account?
  <a class="font-medium hover:underline" href="/auth/register/">Sign up here</a>
</p>
{% endblock %}
