{# templates/pages/errors/base.html #}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="{{ url_for('static', filename='js/tailwind-browser.js') }}"></script>
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div
      class="grid h-screen place-content-center bg-white px-4 dark:bg-gray-900"
    >
      <div class="text-center">
        <h1 class="text-9xl font-black text-gray-200 dark:text-gray-700">
          {% block status %}{% endblock %}
        </h1>
        <p
          class="mt-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          {% block alert %}{% endblock %}
        </p>
        <p class="mt-4 text-gray-500 dark:text-gray-400">
          {% block description %}{% endblock %}
        </p>
        <a

          class="bg-blue-500 hover:bg-blue-700 focus:ring-blue-600 mt-6 inline-block rounded-lg px-5 py-2.5 text-center text-sm font-medium text-white focus:outline-none focus:ring-2"
          href="/"
        >
          Go Back Home
        </a>
      </div>
    </div>
  </body>
</html>
