{# templates/components/ui/navbar/desktop_menu.html #}

<div
  class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start"
>
  <div class="hidden sm:block">
    <div x-data="{ active_page: '{{ active_page }}' }" class="flex space-x-4">
      <a
        :class="{
          'bg-gray-800 text-white dark:bg-gray-900': active_page == 'Home',
          'hover:bg-gray-800 hover:text-white dark:text-gray-300 dark:hover:bg-gray-900 dark:hover:text-white text-gray-800': active_page != 'Home'
        }"
        class="rounded-md px-3 py-2 text-sm font-medium transition-all duration-200 ease-in-out"
        aria-current="page"
        href="/"
        >Home</a
      >
      {% if current_user.is_authenticated %}
        {% if is_admin %}
        <a
          :class="{
            'bg-gray-800 text-white dark:bg-gray-900': active_page == 'Database',
            'hover:bg-gray-800 hover:text-white dark:text-gray-300 dark:hover:bg-gray-900 dark:hover:text-white text-gray-800': active_page != 'Database'
          }"
          class="rounded-md px-3 py-2 text-sm font-medium transition-all duration-200 ease-in-out"
          href="/admin/database?token={{ token }}"
        >
          Database
        </a>
        {% elif not is_admin %}
        <a
          :class="{
            'bg-gray-800 text-white dark:bg-gray-900': active_page == 'Contact Me',
            'hover:bg-gray-800 hover:text-white dark:text-gray-300 dark:hover:bg-gray-900 dark:hover:text-white text-gray-800': active_page != 'Contact Me'
          }"
          class="rounded-md px-3 py-2 text-sm font-medium transition-all duration-200 ease-in-out"
          href="/contact-me"
        >
          Contact Me
        </a>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>
