{# templates/components/ui/navbar/desktop_menu.html #}

<div
  class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start"
>
  <div class="hidden sm:block">
    <div class="flex space-x-4">
      <a
        class="rounded-md bg-gray-800 px-3 py-2 text-sm font-medium text-white transition-all duration-200 ease-in-out dark:bg-gray-900"
        aria-current="page"
        href="/website/static"
        >Home</a
      >
      {% if current_user.is_authenticated and not is_admin %}
      <a
        class="rounded-md px-3 py-2 text-sm font-medium text-gray-800 transition-all duration-200 ease-in-out hover:bg-gray-800 hover:text-white dark:text-gray-300 dark:hover:bg-gray-900 dark:hover:text-white"
        href="/contact-me"
      >
        Contact Me
      </a>
      {% endif %}
    </div>
  </div>
</div>
