{# templates/general/pages/home.html #}

{% extends "general/base.html" %}
{% from "components/ui/alert.html" import alert %}

{% block title %}Kalts Daniil - Personal Blog{% endblock %}

{% block content%}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div x-data="{ count: {{ messages|length }} }" x-show="count > 0">
      {% for category, message in messages %}
        {{ alert(category, message) }}
      {% endfor %}
    </div>
    {% endif %}
  {% endwith %}
  <div class="flex flex-grow items-center justify-center py-16">
    <h4
      class="text-center text-base font-medium text-gray-800 dark:text-gray-300"
    >
      I haven't written anything yet..<br />
      But don't worry, the keyboard is warming up! 🤓
    </h4>
  </div>
{% endblock %}
