{# templates/general/pages/database.html #}

{% extends "general/base.html" %}
{% from "components/ui/alert.html" import alert %}

{% block title %}Kalts Daniil - Database{% endblock %}

{% block content%}
<div
  x-data="{
    selected_table: '{{ selected_table }}',
    baseUrl: window.location.origin + window.location.pathname,
    getTokenQuery() {
      const params = new URLSearchParams(window.location.search);
      const token = params.get('token');
      return token ? '?token=' + token : '';
    }
  }"
  class="flex gap-8 flex-col flex-grow items-center"
>

  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  <div
    x-data="{ count: {{ messages|length }} }"
    x-show="count > 0"
    class="w-full"
  >
    {% for category, message in messages %}
    {{ alert(category, message) }}
    {% endfor %}
  </div>
  {% endif %}
  {% endwith %}
  <div
    class="text-sm w-full overflow-x-auto font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700"
    style="-ms-overflow-style: none; scrollbar-width: none"
  >
    <ul
      x-data="{ selected_table: '{{ selected_table }}' }"
      class="flex overflow-x-auto mb-px text-sm font-medium text-center"
      style="-ms-overflow-style: none; scrollbar-width: none"
    >
      {% for tab in tabs %}
      <li>
        <a
          :class="{
            'border-gray-800 text-gray-800 dark:border-gray-300 dark:text-gray-300': selected_table === '{{ tab.name }}',
            'border-transparent': selected_table !== '{{ tab.name }}'
          }"
          class="inline-block px-4 pb-4 border-b-2 rounded-t-lg hover:text-gray-800 hover:border-gray-800 dark:hover:border-gray-300 dark:hover:text-gray-300"
          href="{{ tab.link }}"
        >
          {{ tab.name }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div
    x-data='{"attributes": {{ attributes|tojson }} }'
    class="w-full flex-grow flex justify-center {{ 'items-center' if attributes|length == 0 else 'max-h-[calc(100vh-100px)]' }}"
  >
    {% if not selected_table %}
    <h4
      class="text-center text-base font-medium text-gray-800 dark:text-gray-300"
    >
      Choose a table to view its data.. 🔍
    </h4>
    {% else %}
    <div
      class="relative overflow-x-auto shadow-gray-500 dark:shadow-gray-700 shadow"
    >
      <table
        class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
      >
        <thead
          class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
        >
          <tr>
            {% for attribute in attributes %}
            <th class="px-6 py-3" scope="col">{{ attribute }}</th>
            {% endfor %}
            <th class="px-6 py-3" scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for record in records %}
          <tr
            x-cloak
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-700"
          >
            {% for attribute in attributes %}
            <td
              x-data="{ expanded: false }"
              @click="expanded = !expanded"
              :class="expanded ? 'max-w-full whitespace-normal' : 'max-w-xs overflow-hidden whitespace-nowrap text-ellipsis'"
              class="px-6 py-4 cursor-pointer"
              title="{{ attribute }}"
              scope="col"
            >
              {{ record[attribute] }}
            </td>
            {% endfor %}
            <td class="px-6 py-4">
              <a
                @click.prevent="
                  if (confirm('Are you sure you want to delete this record?')) {
                    let query = getTokenQuery();
                    let deleteUrl = baseUrl + selected_table + '/' + '{{ record['id'] }}' + query;
                    fetch(deleteUrl, { method: 'DELETE' })
                      .then(response => {
                        if (response.ok) {
                          location.reload();
                        } else {
                          alert('Delete failed');
                        }
                      });
                  }
                "
                class="text-red-600 dark:text-red-500 hover:underline"
                href="#"
              >
                Delete
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
