{# templates/components/ui/navbar/mobile_menu.html #}

<div
  x-data="{ active_page: '{{ active_page }}' }"
  x-show="mobileMenuOpen"
  x-cloak
  x-init="$el.style.display=''"
  x-transition:enter="transition-all ease-in-out duration-500"
  x-transition:enter-start="max-h-0"
  x-transition:enter-end="max-h-screen"
  x-transition:leave="transition-all ease-in-out duration-500"
  x-transition:leave-start="max-h-screen"
  x-transition:leave-end="max-h-0"
  id="mobile-menu"
  style="display:none"
  class="overflow-hidden bg-white sm:hidden dark:bg-gray-800"
>
  <div class="px-2 pt-2 pb-3 space-y-[6px]">
    <a
      :class="{
        'bg-gray-800 text-white dark:bg-gray-900': active_page == 'Home',
        'hover:bg-gray-800 hover:text-white dark:text-gray-300 dark:hover:bg-gray-900 dark:hover:text-white text-gray-800': active_page != 'Home'
      }"
      class="block py-2 px-3 text-base font-medium rounded-md"
      aria-current="page"
      href="/"
      >Home</a
    >
    {% if current_user.is_authenticated %}
      {% if is_admin %}
        <a
          :class="{
            'bg-gray-800 text-white dark:bg-gray-900': active_page == 'Database',
            'hover:bg-gray-800 hover:text-white dark:text-gray-300 dark:hover:bg-gray-900 dark:hover:text-white text-gray-800': active_page != 'Database'
          }"
          class="block py-2 px-3 text-base font-medium rounded-md transition-all duration-200 ease-in-out"
          href="/admin/database?token={{ token }}"
        >Database</a
        >
      {% elif not is_admin %}
        <a
          :class="{
            'bg-gray-800 text-white dark:bg-gray-900': active_page == 'Contact Me',
            'hover:bg-gray-800 hover:text-white dark:text-gray-300 dark:hover:bg-gray-900 dark:hover:text-white text-gray-800': active_page != 'Contact Me'
          }"
          class="block py-2 px-3 text-base font-medium rounded-md transition-all duration-200 ease-in-out"
          href="/contact-me"
        >Contact Me</a
        >
      {% endif %}
    {% endif %}
  </div>
</div>
